.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%);
  max-width: calc(100%);
  height: 100%;
}

.marginContainer {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  width: 96%;
}
