.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 12px 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addLeadButton {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  color: white;
  gap: 2px;
  font-size: 13px;
  font-family: inherit;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 100px;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.addLeadButton:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.selectRangeButton {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 500;
  outline: none;
  color: var(--white-color);
  border: 1.8px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.selectRangeButton:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.applyButton {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 14px;
  cursor: pointer;
  padding: 8px 0;
  border: none;
  outline: none;
}

.dateRangeText {
  display: flex;
  font-size: 13px;
  gap: 6px;
  color: rgb(81, 81, 81);
}

.dateRangeText > span {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}

.leadCountText {
  margin: 24px 0 12px 0;
  font-size: 15px;
  color: var(--text-color);
}

.leadCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
  gap: 16px;
}
