.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  color: #545454;
  border-bottom: 1px solid #c8c8c8;
}

.timeStampContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  margin: 2px 0;
}

.text {
  margin: 4px 0;
}
